Source: libhdate
Priority: optional
Section: libdevel
Maintainer: Debian Hebrew Packaging Team <debian-hebrew-package@lists.alioth.debian.org>
Uploaders: Baruch Even <baruch@debian.org>, Lior Kaplan <kaplan@debian.org>, Shachar Shemesh <shachar@debian.org>, Tzafrir Cohen <tzafrir@debian.org>
Vcs-Svn: svn://anonscm.debian.org/debian-hebrew/pkg/libhdate
Vcs-Browser: http://anonscm.debian.org/viewvc/debian-hebrew/pkg/libhdate
Build-Depends: debhelper (>= 9), swig, python-dev (>= 2.6.6-3~), autotools-dev
Standards-Version: 3.9.4
Homepage: http://libhdate.sourceforge.net/

Package: libhdate-dev
Architecture: any
Depends: libhdate1 (= ${binary:Version}), ${shlibs:Depends}, ${misc:Depends}
Description: Provides a library that help use hebrew dates (development files)
 LibHdate is a small C,C++ library for Hebrew dates,
 holidays, and reading sequence (parasha). It is using 
 the source code from Amos Shapir's "hdate" package fixed and 
 patched by Nadav Har'El. The Torah reading sequence
 is from tables by Zvi Har'El.
 .
 This package contains headers and support files required
 to build new applications with libhdate.

Package: python-hdate
Section: python
Architecture: any
Provides: ${python:Provides}
Depends: libhdate1 (= ${binary:Version}), ${python:Depends}, ${shlibs:Depends}, ${misc:Depends}
Description: Provides a library that help use hebrew dates (python bindings)
 LibHdate is a small C,C++ library for Hebrew dates,
 holidays, and reading sequence (parasha). It is using 
 the source code from Amos Shapir's "hdate" package fixed and 
 patched by Nadav Har'El. The Torah reading sequence
 is from tables by Zvi Har'El.
 .
 This package contains Python bindings to libhdate

Package: libhdate-perl
Section: perl
Architecture: any
Depends: libhdate1 (= ${binary:Version}), ${perl:Depends}, ${shlibs:Depends}, ${misc:Depends}
Description: Provides a library that help use hebrew dates (perl bindings)
 LibHdate is a small C,C++ library for Hebrew dates,
 holidays, and reading sequence (parasha). It is using 
 the source code from Amos Shapir's "hdate" package fixed 
 and patched by Nadav Har'El. The Torah reading sequence
 is from tables by Zvi Har'El.
 .
 This package contains perl bindings to libhdate

Package: libhdate1
Section: libs
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Conflicts: libhdate0
Replaces: libhdate0
Description: Provides a library that help use hebrew dates
 LibHdate is a small C,C++ library for Hebrew dates,
 holidays, and reading sequence (parasha). It is using 
 the source code from Amos Shapir's "hdate" package fixed 
 and patched by Nadav Har'El. The Torah reading sequence
 is from tables by Zvi Har'El.
