#!/usr/bin/make -f

ARCHLIB := $(shell perl -MConfig -e 'print $$Config{vendorarch}')

%:
	dh $* --with python2,autoreconf

override_dh_auto_configure:
	dh_auto_configure -- --with-perl-sitelib-dir=$(ARCHLIB)

override_dh_python2:
	dh_python2 -s --no-guessing-versions
